body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.name {
  font-family: 'Raleway', sans-serif;
  padding-top: 25vh;
  margin-bottom: 0;
  font-size: 110px;
}

.subtext {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 25px;
}

.bio {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  font-size: 20px;
  margin-top: 70px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}


#top-menu {
  width: 20%;
  top: 0;
  text-align: right;
  padding-right: 15vh;
  padding-top: 20vh;
  position: fixed;
  z-index: 99 !important;
}

#top-menu a {
  transition: .5s color ease-out;
  -webkit-transition: .5s color ease-out;
  color: #black;
}

#top-menu a:hover {
  color:  black;
  text-decoration: none;
}

.sidebar li {
  list-style-type: none;
}

#top-menu li {
  float: right;
}

.is-current a {
  border-right: 3px solid black;
  color: #000000;
}


.sidebar-text {
  font-family: 'Raleway', sans-serif;
  padding: 6px 8px 6px 16px;
    font-size: 25px;
    color: #818181;

}

.home {
 height: 100vh;
 padding-left: 35vh;
}

#Skills {
  height: 100vh;
  padding-left: 35vh;
}

#SkillsRow {
  padding-top: 20vh;
  display: flex;
}

.SkillColumn {
  width: 30vw;
  flex: 50%;
}

.SkillTitle {
  font-family: "Raleway";
  text-align: center;
  padding-bottom: 15px;
}

.skillbar-title span {
  font-size: 11px;
}

.skillbar-percent {
  display: none;
}

.LogoColumn {
  position: relative;
  font-size: 60px;
  display: inline-grid;
  padding-top: 51px;
  padding-right: 10px;
  color: black;
}



#Languages {
  float: left;
  padding-right: 8vh;
}

#Technologies {
  float: right;
  margin-right: 35vh;
}


.projects {
  background-color: white;
  height: 100vh;
  padding-left: 35vh;
}

.contact {
  background-color: black;
  height: 101vh;
  margin-left: 35vh;
}

.profile {
  max-width: 100%;
  max-height: 100%;
  margin-left: 30px;
  float:right;
  position: static;
  z-index: -1;
}

.logo {
  padding-top: 5vh;
  margin-right: 5vh;
  position: relative;
  max-width: 8%;
}

.image-link {
  text-decoration: none !important;
}

.logo:hover {
  opacity: 0.5;
}

.resume {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 30px;
  text-decoration: none;
  vertical-align: bottom;
}

.resume:hover {
  text-decoration: none !important;
  color: black;
  opacity: 0.5;
}

  section {
    padding: 100px 0;
  }

 header {
    background: #3F51B5;
    color: #FFFFFF;
    padding: 150px 0;
  }
 header p {
    font-family: 'Allura';
    color: rgba(255, 255, 255, 0.2);
    margin-bottom: 0;
    font-size: 60px;
    margin-top: -30px;
  }

  .timeline {
    position: relative;
  }
  .timeline::before {
    content: '';
    background: grey;
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .timeline-item {
    width: 100%;
    margin-bottom: 10px;
  }
  .timeline-item:nth-child(even) .timeline-content {
    float: right;
    padding: 40px 30px 10px 30px;
  }
  .timeline-item:nth-child(even) .timeline-content .date {
    right: auto;
    left: 0;
  }
  .timeline-item:nth-child(even) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent black transparent transparent;
  }
  .timeline-item::after {
    content: '';
    display: block;
    clear: both;
  }

  .timeline-content {
    position: relative;
    width: 45%;
    padding: 10px 30px;
    border-radius: 4px;
    background: #f5f5f5;
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
  }
  .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent black;
  }

  .timeline-img {
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 25px;
    margin-left: -15px;
  }

.timeline-item a {
    background: #3F51B5;
    color: #FFFFFF;
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
  }
.timeline-item a:hover, .timeline a:active, .timeline a:focus {
    background: #32408f;
    color: #FFFFFF;
    text-decoration: none;
  }

  .timeline-card {
    padding: 0 !important;
  }

.timeline-item:nth-child(odd) .timeline-card p {
    padding: 0 20px 20px;
  }

  .timeline-item:nth-child(even) .timeline-card p {
      padding: 0 20px;
    }

  .timeline-card a {
    margin-left: 20px;
  }

  .timeline-item:nth-child(1) .timeline-img-header {
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("./images/webveloper.jpg") center center no-repeat;
    background-size: cover;
  }
  .timeline-item:nth-child(2) .timeline-img-header {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("./images/samsung.jpg") center -40px no-repeat;
    background-size: cover;
  }
  .timeline-item:nth-child(3) .timeline-img-header {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1471479917193-f00955256257") center center no-repeat;
    background-size: cover;
  }
  .timeline-item:nth-child(4) .timeline-img-header {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1466840787022-48e0ec048c8a") center center no-repeat;
    background-size: cover;
  }
  .timeline-item:nth-child(10) .timeline-img-header {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1447639703758-f525f36456bf") center center no-repeat;
    background-size: cover;
  }
  .timeline-item:nth-child(11) .timeline-img-header {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1469429978400-082eec725ad5") center center no-repeat;
    background-size: cover;
  }

  .timeline-img-header {
    height: 200px;
    position: relative;
    margin-bottom: 20px;
  }
  .timeline-img-header h2 {
    font-family: 'Raleway';
    color: #FFFFFF;
    position: absolute;
    bottom: 5px;
    left: 20px;
  }

  .timeline-img-header h3 {
    font-family: 'Open Sans';
    color: #FFFFFF;
    position: absolute;
    bottom: 50px;
    left: 20px;
  }

  .timeline-img-header a {
    opacity: 0;
  }


.link-spanner {
  position:absolute;
 width:100%;
 height:100%;
 top:0;
 left: 0;
 z-index: 1;
}

  blockquote {
    margin-top: 30px;
    color: #757575;
    border-left-color: #3F51B5;
    padding: 0 20px;
  }

  .date {
    background: black;
    display: inline-block;
    color: #FFFFFF;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
  }

  @media screen and (max-width: 768px) {
    .timeline::before {
      left: 50px;
    }
    .timeline .timeline-img {
      left: 50px;
    }
    .timeline .timeline-content {
      max-width: 100%;
      width: auto;
      margin-left: 70px;
    }
    .timeline .timeline-item:nth-child(even) .timeline-content {
      float: none;
    }
    .timeline .timeline-item:nth-child(odd) .timeline-content::after {
      content: '';
      position: absolute;
      border-style: solid;
      width: 0;
      height: 0;
      top: 30px;
      left: -15px;
      border-width: 10px 15px 10px 0;
      border-color: transparent #f5f5f5 transparent transparent;
    }

    .timeline-item:nth-child(odd) .timeline-card p {
        padding: 0 20px;
      }
  }

  ul {
    list-style-type: circle;
  }

  .contentDiv {
    position: relative;
}

@keyframes bouncing {
    0% {bottom: 0;}
    50% {bottom: 20px;}
    100% {bottom: 0;}
}

.arrow {
    animation: bouncing 1s infinite ease-in-out;
    bottom: 0;
    display: block;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
}
